<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>02 Creating the template | Handlebars training</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="temp.txt"></script>
</head>
<body>
    <textarea id="ta"></textarea>
    <script>
    // compile the template
    var json_val={
    "Question_Bank": [
        {
            "question": "hello",
            "media_file": "",
            "answer_type": "sdfds",
            "type":"sub1",
            "options": [
                {
                    "option": "h",
                    "media_file": "",
                    "correct_ans":true
                },
                {
                    "option": "e",
                    "media_file": "",
                    "correct_ans":false
                },
                {
                    "option": "l",
                    "media_file": "",
                    "correct_ans":false
                },
                {
                    "option": "o",
                    "media_file": "",
                    "correct_ans":false
                }
            ],
            "correct_answer": "3"
        },
        {
            "question": "hello there",
            "media_file": "Aristotle Altemps Inv8575.jpg",
            "answer_type": "sdfds",
            "type":"sub2",
            "options": [
                {
                    "option": "h1",
                    "media_file": "C:\\fakepath\\_$adme_usage (1).docx",
                    "correct_ans":false
                },
                {
                    "option": "e2",
                    "media_file": "C:\\fakepath\\_$adme_usage.docx",
                    "correct_ans":false
                },
                {
                    "option": "l3",
                    "media_file": "C:\\fakepath\\Alfatoxin_milestone1 (1).docx",
                    "correct_ans":true
                },
                {
                    "option": "o4",
                    "media_file": "C:\\fakepath\\Alfatoxin_milestone2.docx",
                    "correct_ans":false
                }
            ],
            "correct_answer": "3"
        }
    ]
}

var jval={
    "Question_Bank": [
        {
            "question": "hello",
            "media_file": "",
            "answer_type": {
                "type": "checkbox"
            },
            "options": [
                {
                    "option": "12",
                    "media_file": "",
                    "correct_answer": false
                },
                {
                    "option": "13",
                    "media_file": "",
                    "correct_answer": false
                },
                {
                    "option": "14",
                    "media_file": "",
                    "correct_answer": true
                },
                {
                    "option": "15",
                    "media_file": "",
                    "correct_answer": false
                }
            ]
        }
    ]
}


var data = 
`<quiz>
{{#each Question_Bank}}   
    {{#if_eq type 'sub' }}
        { {{question}}
        {{#if_eq media_file ''}}
        {{else}}
        [[File:{{media_file}}]]
        {{/if_eq}}
        |type="()"} 
        {{#each options}} 
        {{#if correct_ans}}
        +{{option}}   
        {{else}}
        -{{option}}
        {{/if}}
        {{/each}}  
    {{/if_eq}}
{{/each}} 
</quiz>`

var data1 = 
`<quiz>
{{#each Question_Bank}}   
{{#if_eq answer_type.type 'radiogroup' }}
{ {{question}}
{{#if_eq media_file ''}}
{{else}}
[[File:{{media_file}}|100px]]
{{/if_eq}}
|type="()"} 
{{#each options}} 
{{#if correct_answer}}
+{{option}} 
{{#if_eq media_file ''}}
{{else}}
+[[File:{{media_file}}|100px]]
{{/if_eq}}  
{{else}}
-{{option}}
{{#if_eq media_file ''}}
{{else}}
-[[File:{{media_file}}|100px]]
{{/if_eq}}
{{/if}}
{{/each}} \n 
{{/if_eq}}
{{#if_eq answer_type.type 'checkbox' }}
{ {{question}}
{{#if_eq media_file ''}}
{{else}}
[[File:{{media_file}}|100px]]
{{/if_eq}}
|type="[]"} 
{{#each options}} 
{{#if correct_answer}}
+{{option}}  
{{#if_eq media_file ''}}
{{else}}
+[[File:{{media_file}}|100px]]
{{/if_eq}} 
{{else}}
-{{option}}
{{#if_eq media_file ''}}
{{else}}
-[[File:{{media_file}}|100px]]
{{/if_eq}}
{{/if}}
{{/each}} \n
{{/if_eq}}
{{#if_eq answer.type.type 'text' }}
{ &nbsp; 
|type="{}"} 
{{question}}  
{ Stageira }
{{/if_eq}}
{{/each}} 
</quiz>`

;

    Handlebars.registerHelper('if_eq', function(a, b, opts) {
        if (a == b) {
            return opts.fn(this);
        } else {
            return opts.inverse(this);
        }
    });    
    var template = Handlebars.compile(data1);
    // execute the compiled template and print the output to the console
    console.log(template(jval));
    
    document.getElementById("ta").value=template(jval);
    </script>

</body>
</html>

<!--


-->

